/*.section-row .title{ /*heading* /
    font-size :3rem;
    color: var(--black);
    text-transform:capital;
    padding-bottom:1.5rem;
    margin-bottom:3rem;
    border-bottom:var(--border);
    }*/

    
    .title1{
      line-height:1.5em ;
      color:var(--black);
      margin-bottom: .5rem;
      font-style: normal;
      font-weight: normal;
      font-size: 1.5rem;
    
    }
    .title2{
      line-height:1.3em ;
      color:var(--black);
      margin-bottom: .2rem;
      font-size: 1.5rem;
    
    }
    
    /*--------------------sections------------------------------*/
 .section-row .sectionrowtitle{
   /* border-bottom:1rem solid var(--light-bg);*/
    font-size:1.7rem;
    background-color: var(--light-light-bg);
    text-align: center;
    padding:0.5rem 0 0.5rem 0;
    margin-bottom:2rem;
    border-radius: .5rem;
  }

  /*--------------------------site-banner-------------------*/
  
   .section-row{
    position:relative;
    width:100%;
    background-color: var(--white);
    color:var(--black);
   margin-bottom: 3rem;
   padding: 0 2rem;
    font-size: 1.2rem;
    
  }
  .section-row .title1{
    line-height:1.5em;

  }
  .section-row  .title2{
    line-height:1.5em;

  }

  #home{
    display:grid; 
    grid-template-columns: 1fr;
  }
 
  .textsection img{
    float:left;
    width: 35rem;
    height:26rem;
    margin:0 1rem 1rem 0;
    border-radius: .5rem;  
  }

  #home .third img{
    width: 25rem;
    height:25rem;
    margin:0 1rem 1rem 0;
    border-radius: .5rem;  
  }
  .textsection .evenStepImage{
    float:right;
  }
/* 
  #home img:nth-child(1) {
    float:left;
    width: 35rem;
    height:26rem;
    margin:0 1rem 1rem 0;
    border-radius: .5rem;
}
  
  #home img:nth-child(2) {
    float:right;
    width: 35rem;
    height:26rem;
    margin:0 1rem 1rem 0;
    border-radius: .5rem;
}


#about img:nth-child(2) {
  float:left;
  width: 25rem;
  height:35rem;
  margin:0 1rem 1rem 0;
  border-radius: .5rem;
}
#about img:nth-child(4) {
  
  width: 25rem;
  height:35rem;
  margin:0 1rem 1rem 0;
  border-radius: .5rem;
}
*/
  /*-------------------section-row  gallery-------------------------------------*/
  /*------------------ gallery-area--------------------------- */
 .gallery{
  /*
  padding : 10px;
  max-width : 1100px;*/
justify-content: center;
margin :0 auto;
display:grid;
grid-gap:10px;
/*grid-template-columns:repeat(auto-fit,minmax(100px,200px));*/
grid-template-columns:repeat(auto-fit,minmax(170px,200px));
/*grid-template-columns:repeat(auto-fit,2rem, 2.5rem);*/

grid-auto-rows:200px;
grid-auto-flow:dense;
 }
/*stretch vertically*/
 .vertical{
  grid-row:span 2;
  }
/*stretch horizontally*/
 .horizontal{
  grid-column:span 2;
 }
/*stretch horizontally and vertically*/
.square{
  grid-row:span 1;
  grid-column:span 1;
 }
 .gallery div img{
  width:100%;
  height:100%;
  object-fit:cover;
 }
 .gallery-area img:hover{
  /* box-shadow:var(--box-boxshadow);*/
  box-shadow:10px 10px;
  transform:scale(1.1);
  filter:brightness(0.6);
}

.gallery-area .page-tabs{
  display:grid;
  grid-gap:10px;
  grid-template-columns:repeat(2,50%);
 }
 .gallery-area .page-tabs .icon-prev{
 display: flex;
 justify-content: flex-end;
 }
 .gallery-area .page-tabs .icon-next{
  display: flex;
  justify-content: flex-start;
  }


  @media (max-width:768px){
    
    .right-bar{
     
      padding-top:4rem;
    }

    .textsection img{
      float:left;
      width: 20rem;
      height:17rem;
      margin:0 1rem 1rem 0;
      border-radius: .5rem;  
    }
  
    #home .third img{
      width: 20rem;
      height:20rem;
      margin:0 1rem 1rem 0;
      border-radius: .5rem;  
    }
    .textsection .evenStepImage{
      float:right;
    }
    
  }